

<mat-grid-list cols="3" >
  <mat-grid-tile>

<mat-card class="example-card">
  <mat-card-header>
    <h5  class=center >Réfrigérateur connecté Samsung</h5>
  </mat-card-header>
  <img mat-card-image src="../../assets/images/frigo.jpg" alt="Photo of a Réfrigérateur">
  <mat-card-content>
    <ul>
      <li>
        Faites vos courses en toute sérénité avec les caméras intérieures qui vous permettront de voir ce qui se trouve dans votre frigo n’importe où, n’importe quand grâce à votre smartphone
      </li>
      <li>
        Faites des mémos, photos, planning et tâches à partager
      </li>
      <li>
        Connectez-vous à internet, diffusez de la musique et des films directement sur l’interface de votre frigo
      </li>
    </ul>
    <a target="_blank" href="https://www.darty.com/nav/achat/gros_electromenager/refrigerateur_congelateur/refrigerateur_multi-portes/samsung_rf56m9540sr_ef.html?store=916048&esl-k=sem-google%7cng%7cc240562765666%7cm%7ckpla453009752564%7cp%7ct%7cdc%7ca50921991540%7cg1019940948&dartycid=sea_shopping-local_LIA-ALL-GEM_adgroup_GEM&gclid=CjwKCAjwusrtBRBmEiwAGBPgE4pOaQUXawRLWAEXv1OKo-vYrgt2-uW3Oa3M2Bq8Rni0CL_1m-r_exoCWqUQAvD_BwE&gclsrc=aw.ds"><button mat-raised-button color="primary">Acheter</button></a>
  </mat-card-content>
</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>

<mat-card class="example-card">
  <mat-card-header>
    <h5  class=center >Micro-onde connecté Amazon</h5>
  </mat-card-header>
  <img mat-card-image src="../../assets/images/micro-onde.jpg" alt="Photo of a micro-onde because the fourmi cro-onde">
  <mat-card-content>
    <ul>
      <li>
        Lancez votre micro-onde grâce à l’assistant Alexa intégré dans ce micro-onde Amazon.
      </li>
      <li>
        Certains programmes sont automatiquement configurés tels que la décongélation et le réchauffage de plats.
      </li>
      <li>
        Bénéficiez des commandes Alexa en ajoutant des items dans votre panier Amazon.
      </li>
    </ul>
    <a href=""><button mat-raised-button color="primary">Acheter</button></a>
  </mat-card-content>
</mat-card>
  </mat-grid-tile>
  <mat-grid-tile>

<mat-card class="example-card">
  <mat-card-header>
    <h5  class=center >Tondeuse connectée Husqvarna</h5>
  </mat-card-header>
  <img mat-card-image src="../../assets/images/tondeuse.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <ul>
      <li>
        Tondez votre pelouse efficacement avec cette tondeuse automatique.
      </li>
      <li>
        Jusqu’à 1200m² de terrain et 35% de pente, elle s’adapte à n’importe quel jardin.
      </li>
      <li>
        Restez connecté avec votre tondeuse en recevant des notifications dès que la tonte est nécessaire, vous pourrez également piloter votre tondeuse à distance grâce à l’application.
      </li>
    </ul>
    
    <a href="https://www.leroymerlin.fr/v3/p/produits/tondeuse-robot-bosch-indego-1200-connect-1200-m2-e1401011682"><button mat-raised-button color="primary">Acheter</button></a>
  </mat-card-content>
</mat-card>
  </mat-grid-tile>
</mat-grid-list>
