<mat-toolbar style="margin-bottom:50px" color="primary">
  <mat-toolbar-row>
    <span>Logo</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>

<h1  class=center >IOT DEMONSTRATION  </h1>
<h5  class=center >Un site de présentation d'objet IOT</h5>
<app-card></app-card>
<div class="center-div">
  <app-crad-chap></app-crad-chap>
</div>
<app-footer></app-footer>
