<mat-card style="margin-bottom:50px" class="example-card">
    <mat-card-header>
      <h5  class=center >Le chapelet connecté du Vatican</h5>
    </mat-card-header>
    <img mat-card-image src="../../assets/images/chapelet.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <ul>
        <li>
          Accompagnement des fidèles dans les pater, credo et misère.
        </li>
        <li>
          Connecté a votre smartphone, il capte aussi le nombre de pas effectués ainsi que les calories brulées lorsqu’il se trouve dans votre poche ou sac.
        </li>
        <li>
          Résistant à l’eau (norme IP67)
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
